In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Subu','Divya','Yuvi','Rithi','Sangi'],'B':['One','Two','Three','One','Three','Two'],
                 'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
print(df)

       A      B  C  D  E
0    Sai    One  3  2  4
1   Subu    Two  0  4  2
2  Divya  Three  4  2  0
3   Yuvi    One  2  1  2
4  Rithi  Three  2  3  3
5  Sangi    Two  2  0  0

In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Poo','Sub','Yuvi','Rithi','Sangu','Sai','Poo'],'B':['One','Two','Three','One','Three','Two','One','Two'],
                 'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8),'E':np.random.randint(5,size=8)})
print(df)
df1=df.groupby(['A'],as_index=False)['C'].sum()
print(df1)

       A      B  C  D  E
0    Sai    One  3  3  4
1    Poo    Two  3  2  2
2    Sub  Three  4  4  2
3   Yuvi    One  0  1  0
4  Rithi  Three  0  2  2
5  Sangu    Two  4  1  0
6    Sai    One  3  4  2
7    Poo    Two  0  4  2
       A  C
0    Poo  3
1  Rithi  0
2    Sai  6
3  Sangu  4
4    Sub  4
5   Yuvi  0

In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Poo','Sub','Yuvi','Rithi','Sangu','Sai','Poo'],'B':['One','Two','Three','One','Three','Two','One','Two'],
                 'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8),'E':np.random.randint(5,size=8)})
print(df)
df1=df.groupby(['A','B'],as_index=False)['C','D'].sum()
print(df1)

       A      B  C  D  E
0    Sai    One  4  4  0
1    Poo    Two  0  1  4
2    Sub  Three  0  3  1
3   Yuvi    One  2  2  0
4  Rithi  Three  1  4  3
5  Sangu    Two  2  4  2
6    Sai    One  3  1  0
7    Poo    Two  1  0  0
       A      B  C  D
0    Poo    Two  1  1
1  Rithi  Three  1  4
2    Sai    One  7  5
3  Sangu    Two  2  4
4    Sub  Three  0  3
5   Yuvi    One  2  2

/var/folders/hn/lk6jpwx12ks8j5rs53v__39r0000gp/T/ipykernel_1134/3643365678.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df.groupby(['A','B'],as_index=False)['C','D'].sum()

In [5]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],'Sales':[100,200,150,150,130,200],'Profit':[10,15,20,25,30,15]})
print("\n Orginal dataframe:\n",df)

 Orginal dataframe:
   Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15

In [7]:
df_grouped=df.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df_grouped)

         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20