In [6]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/employees details.csv")
print(d)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [7]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Salary'],
      dtype='object')
(100, 11)

In [9]:
print("Middle Initial",df["Middle Initial"])

Middle Initial 0     H
1     S
2     W
3     I
4     R
     ..
95    K
96    Z
97    O
98    R
99    B
Name: Middle Initial, Length: 100, dtype: object

In [10]:
print(df[1:5])

   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
1  940761         Ms.     Brenda              S  Robinson      F
2  428945         Dr.        Joe              W  Robinson      M
3  408351        Drs.      Diane              I     Evans      F
4  193819         Mr.   Benjamin              R   Russell      M

                         E Mail     Father's Name       Mother's Name  \
1     brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2        joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3         diane.evans@yahoo.com       Jason Evans      Michelle Evans
4  benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell

  Mother's Maiden Name  Salary
1                Perry   51063
2               Taylor   50155
3                Allen  180294
4               Nelson  117642

In [14]:
print("Particular person details",df.loc[5])

Particular person details Emp ID                                  499687
Name Prefix                                Mr.
First Name                             Patrick
Middle Initial                               F
Last Name                               Bailey
Gender                                       M
E Mail                  patrick.bailey@aol.com
Father's Name                     Ralph Bailey
Mother's Name                     Laura Bailey
Mother's Maiden Name                 Henderson
Salary                                   72305
Name: 5, dtype: object

In [15]:
print(d.loc[d['Salary']==51063])

   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
1  940761         Ms.     Brenda              S  Robinson      F

                      E Mail     Father's Name  Mother's Name  \
1  brenda.robinson@gmail.com  Raymond Robinson  Judy Robinson

  Mother's Maiden Name  Salary
1                Perry   51063

In [16]:
df=d['Salary']/999
print(df)

0     168.419419
1      51.114114
2      50.205205
3     180.474474
4     117.759760
         ...
95    129.903904
96    156.350350
97     95.768769
98     51.066066
99     93.743744
Name: Salary, Length: 100, dtype: float64