In [1]:
import pandas as pd
import numpy as np
print("DataFrame.applyfunction:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n original DataFrame:\n",info)
print("\n square root of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each column:\n",info.apply(np.sum,axis=0))
print("\n sum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.applyfunction:


 original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 square root of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [3]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['sai',88],['pro',70]])
columns=['EMP','ID']
print(d2)

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
     0   1
0  sai  88
1  pro  70

In [4]:
d2['Age']=[20,18]
print(d2)

     0   1  Age
0  sai  88   20
1  pro  70   18

In [8]:
d=d2.assign(Sex=['Male','Male'])
print(d)

     0   1  Age   Sex
0  sai  88   20  Male
1  pro  70   18  Male

In [11]:
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3  0.255343  1.264732
2  0.636256 -1.918564
0  0.455879  1.799648
4 -1.132561 -0.897674
1 -0.290793 -0.103169

In [12]:
info2=info.sort_index()
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
4 -1.132561 -0.897674
1 -0.290793 -0.103169
3  0.255343  1.264732
0  0.455879  1.799648
2  0.636256 -1.918564

In [16]:
left=pd.DataFrame({'id':[1,2,3] ,'name':['Sai','Bala','Ram'] ,'sub':['sub1','sub2','sub3']})
right=pd.DataFrame({'id':[1,2,3] ,'name':['rahul','shyam','arun'] ,'sub':['sub4','sub5','sub6']})
merge=pd.merge(left,right,on='id')
print(merge)

   id name_x sub_x name_y sub_y
0   1    Sai  sub1  rahul  sub4
1   2   Bala  sub2  shyam  sub5
2   3    Ram  sub3   arun  sub6