In [2]:
import pandas as pd
emp=pd.Series(['Dharshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'EMP':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n Series to DataFrame:\n")
print(result)

 Series to DataFrame:

         EMP  ID
0   Dharshan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [3]:
print("\n Extract one column:\n")
print(result['EMP'])

 Extract one column:

0     Dharshan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: EMP, dtype: object

In [6]:
print("\n Adding new columns:\n")
result['ID']=pd.Series([8,90,28,57,49])
result['Age']=pd.Series([28,32,47,52,61])
print(result)

 Adding new columns:

         EMP  ID  Age
0   Dharshan   8   28
1     Sudeep  90   32
2       Siva  28   47
3       Yash  57   52
4  Keerthana  49   61

In [7]:
print("\n Deleting new column:\n")
del result['Age']
print(result)

 Deleting new column:

         EMP  ID
0   Dharshan   8
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [9]:
print("\n Extracting the second row:\n")
print(result.loc[1])

 Extracting the second row:

EMP    Sudeep
ID         90
Name: 1, dtype: object

In [20]:
d2=pd.DataFrame([['vicky',100],['rashid',110]],columns=['EMP','ID'])
print("\n Adding row values:\n", pd.concat([result,d2]))

 Adding row values:
          EMP   ID
0   Dharshan    8
1     Sudeep   90
2       Siva   28
3       Yash   57
4  Keerthana   49
0      vicky  100
1     rashid  110